/*global syles*/
 body h2{
   color:#1a1a1a
 }
 body p{
   color:#1a1a1a
 }
  /*helper classes*/
  .no-pad{
    padding:0px !important;
  }

  /*navbar styles*/
  nav{
    width:100%;
    height:6vh;
    background-color:blue;
    border: 1px solid black;
  }
  .nav-logo{
    height:100%;
    background-color:red;
    border:1px solid black;
  }
  .nav-main{
    height:100%;
  }
  .nav-item{
    background-color:green;
    height:100%;
    border:1px solid black;
    padding-top:1.3vh;
    padding-left:12% !important;/*important to take priority over
     bootstrap default padding*/
  }
  .nav-link{
    color:#1a1a1a;
    text-decoration:none;
    font-size:2vh
  }
  .nav-link:hover{
    color:#404040;
    text-decoration:underline;
  }
  /*hero styles*/
  .hero{
    height:95vh;
    background-image:url("../images/Placeholder.jpg");
    background-size:cover;
    background-repeat:no-repeat;
  }

  /*feature styles*/
  .feature{
      height:35vh;
      border:1px solid black;
      padding-top:3vh;
  }

  /*footer styles*/
  .footer{
    height:6vh;
    border:1px solid black;
    background-color:#333;
  }

/*shop styles*/

  /*featured product styles*/
  .product-ft-container{
    height:44vh;
    border:1px solid black;
  }
  .product-ft{
    height:100%;
    border:1px solid black;
    background-color:orange;
  }
  .placeholder-ft{
    width:99%;
    height:99%;
    margin-top:9vh;
  }
  /*main shop styles*/
  .sect{
    background-color:#ccc

  }
 .sect#two{
   background-color:#333
 }
 .shop-image{
   width:60%;
   margin-left:20%;
 }
 .feature h2{
   text-align:center;
   margin-top:3vh;
   margin-bottom:0px;
 }
.feature p{
  margin-top:3vh;
  width:80%;
  margin-right:0px;
  margin-left: 10%;
}
#two div h2{
  color:#f2f2f2;
}
#two div p{
  color:#f2f2f2;
}
